doctype html
html
    head
        title= title
        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-133459521-1')
        script(type='text/javascript').
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-133459521-1', {
                'page_title': '#{title}',
                'page_path': '/#{title}'
            });
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://sdk.scdn.co/spotify-player.js')
        script(src='/js/three.min.js')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='/js/OrbitControls.js')
        script(src='/js/LiveAudio.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js')
        script(
            src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
            integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q'
            crossorigin='anonymous'
        )
        script(
            src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
            integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl'
            crossorigin='anonymous'
        )
    body
        div(id='main-container' class='container')
            include head.pug
            block content
        block visualizer-content

        block script